body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bagsAttr {
  background-color: rgb(255, 127, 219);
  width: 120px ;
  border: 2px;
  padding: 10px 10px 10px 10px;
  text-align: left;
  margin: 10px;
  }
